@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif ;
}

header{
    width: 100vw;
    height: 10vh;
}

p{
    display:flex;
    padding-right: 15px;
    align-items: center;
}

nav{
    float: right;
    display: flex;
    padding: 20px ;
    padding-right: 25px;
    align-items: center;
    font-size: 15px;
}

#menu{
    width: 30px;
    height: 30px;
}

button{
    margin-left: 20px;
    /*width:6vw;
    height:4vh;*/
    padding: 10px 20px;
    background-color: rgb(26, 115, 232);
    border-radius: 3px;
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    cursor: pointer;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google{
    width: 20vw;
    height: 10vh;
}

#mic{
    width: 15px;
    height: 15px;
}

#lupa{
    width: 15px;
    height: 15px;
}

#pesquisa{
    width: 50vw;
    height: 3vh;
    border: 1px solid black;
    border-radius: 65px;
}
#caixa{
    width: 750px;
}