*{
margin: 0;
padding: 0;
box-sizing: border-box;  
}

.topo{
    width: 100vw;
    height: 18vh;
    background-color: black;
}
img{
    width:20%;
    height:20%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    right: 0;
    align-items: center;
    margin: 15px;
    padding:  15px 15px;
    border-radius: 5px;
    display: flex;
    background-color: rgba(219, 168, 0, 0.66);
    color: white;
    margin-right: 30px;
    font-size: 100%;
    cursor: pointer;
    
}
button:hover {
    background-color:rgba(249, 194, 14, 0.575);
    transition: 0.3s;
    font-size: 150%;
}


#botao{
    display: flex;
    justify-content: space-around;
}

#al{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main{
    float: left;
    width: 100vw;
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-vector/flying-saucer-hand-drawn-illustration-with-ufo-divergent-rays_184733-106.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}
#c1{
 
    width: 80vw;
    height:80vh;
    float: left;
    display: flex;
    align-items:center;
    margin-left: 500px;
    color:rgb(217, 255, 0);
    font-size: 45px;
    

}